
version: '2.1'
orbs:
  python: circleci/python@3.2.0

workflows:
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/

jobs:
  build:
    docker:
      - image: cimg/python:3.12-browsers
    executor: python/default
    steps:
      - checkout:
          method: full
      - restore_cache:
          key: &deps1-cache deps1-{{ .Branch }}-{{ checksum "pyproject.toml" }}
      - run:
          name: Install library dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            echo "***************************************************"
            uname -a
            sudo apt update
            sudo apt install libnotify-dev
            sudo apt install libgtk-3-dev
            sudo apt install libtiff-dev
            sudo apt-get install -y  libsdl2-dev
            echo "***************************************************"
            pip install --upgrade pip
            pip install wheel
            pip install setuptools
            pip install html-testRunner==1.2.1
            pip install codeallybasic==1.30.0
            pip install umlmodel==3.4.0
            pip install six==1.16.0
            pip install attrdict3
            pip install -v -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-24.04  wxPython
            pip install codeallyadvanced==2.2.0
            pip install human_id==0.2.0
            pip install Pypubsub==4.0.3
      - save_cache:
          key: *deps1-cache
          paths:
            - "venv"
      - run:
            name: run tests
            command: | 
              python3 -m venv venv
              . venv/bin/activate
              pip install buildlackey
              unittests
